<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "heads" -->
    <div th:replace="fragments/heads :: heads"></div>
    <title>Cadastro de Alunos</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: cabecalho"></div>
    <div class="row">

        <div class="col">
            <h1>Listagem de Alunos</h1>
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${alunos.empty}">
                    <td colspan="2">Sem Alunos</td>
                </tr>
                <tr th:each="aluno : ${alunos}">
                    <td><span th:text="${aluno.id}"> Id </span></td>
                    <td><span th:text="${aluno.matricula}"> Matrícula </span></td>
                    <td><span th:text="${aluno.nome}"> Nome </span></td>
                    <td><span th:text="${aluno.email}"> Email </span></td>
                    <td><span th:text="${aluno.cpf}"> CPF </span></td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm"
                           th:href="@{/aluno/excluir/{id}(id=${aluno.id})}"
                           th:data-confirm-delete="|Você gostaria de apagar ${aluno.nome}?|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            Apagar
                        </a>

                        <a class="btn btn-outline-primary btn-sm"
                           th:href="@{/aluno/alterar/{id}(id=${aluno.id})}">Editar
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer">
    </div>
</div>
</body>

</html>